params {
    // drafting parameters
    contigs = null
    reads = null
    reference = null
    draft = null
    basecounts = null

    out_dir = "output"
    draft_name = "draft"

    medaka_consensus_model = "/Users/nils.petersen/dev/mpx/mpox_analysis/workflow/r1041_e82_400bps_hac_v4.1.0_model_pt.tar.gz"
    min_coverage = 20

    sniffles_predraft_cap_coverage = 500
    sniffles_predraft_min_variant_allele_fraction = 0.8
    sniffles_predraft_min_support = 10
    sniffles_predraft_min_sv_len = 20

    readmap_min_secondary2primary_ratio = 0.8
    readmap_max_secondary = 3
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}


process {
    withLabel:common {
        container = "mpox_analyse_common:0.0.1"
        memory = '2G'
    }
    withLabel:structural_variants {
        container = "oprgroup/structural_variants:1.0.0"
        memory = '2G'
    }
    withLabel:medaka {
        container = "mpox_analyse_medaka:0.0.1"
        memory = '30G'
    }
}
