// Copyright (c) 2025 Outbreak Preparedness and Response Group at BNITM
// This file is part of MOPX and is licensed under the MIT License.
// See the LICENSE file in the root of this repository for full license details.

params {

    help = false
    version = false
    validate_params = true
    monochrome_logs = false
    schema = "nextflow_schema.json"
    schema_ignore_params = "show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf"
    show_hidden_params = false

    // drafting parameters
    reads = null

    draft = null
    contigs = null
    basecounts = null

    out_dir = "output"
    draft_name = "draft"

    medaka_consensus_model = null
    medaka_consensus_model_default = "r1041_e82_400bps_hac_v4.1.0_model_pt.tar.gz"
    min_coverage = 20
    medaka_variant_minqual = 10 // So far only for terminal hairpin

    sniffles_predraft_min_variant_allele_fraction = 0.8
    sniffles_predraft_min_support = 5
    sniffles_predraft_min_sv_len = 20

    canu_genome_size = "200k"
    canu_min_read_length = 500
    canu_min_overlap_length = 500
    canu_stop_on_low_coverage = 1
    canu_min_input_coverage = 2

    terminal_repeat_max_map_diff = 0.95

    flye_genome_size = 200000

    contigs_cluster_cdhit_min_similarity = 0.99
    contigs_cluster_cdhit_wordlen = 9

    readmap_min_secondary2primary_ratio = 0.8
    readmap_max_secondary = 3

    // TODO: custom option
    reference = 'cladeIIb'

    reference_dict = [
        cladeIIa_GIN: [
            fasta: "G1027.fasta",
            genbank: "G1027.gbk",
            hairpin: "hairpin_2_pieces.fasta",
            reference_terminal_repeat_left_end: 8820,     // last position of the left terminal repeat, 1-based index
            reference_terminal_repeat_right_start: 190542  // first position of the right terminal repeat, 1-based index
        ],
        cladeIIb: [
            fasta: "NC_063383.1.fasta",
            genbank: "NC_063383.1.gbk",
            hairpin: "hairpin_2_pieces.fasta",
            reference_terminal_repeat_left_end: 6422,
            reference_terminal_repeat_right_start: 190788
        ],
        cladeIIb_GIN_G1: [
            fasta: "G1072.fasta",
            genbank: "G1072.gbk",
            hairpin: "hairpin_2_pieces.fasta",
            reference_terminal_repeat_left_end: 6817,
            reference_terminal_repeat_right_start: 191350
        ]
    ]
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }
}


// create performance report
report {
    enabled = true
    file = "${params.out_dir}/nf-report-${new Date().format('yyyyMMdd_HHmmss')}.html"
    overwrite = true
}

manifest {
    name            = 'OPR-group-BNITM/mopx'
    author          = 'Outbreak Preparedness and Response team at Bernhard Nocht Institute for Tropical Medicine'
    homePage        = 'https://github.com/OPR-group-BNITM/mopx'
    description     = 'Metagenomics Orthopox Pipeline X.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '0.0.1'
}


dockerUser = 'oprgroup'

process {
    cleanup = true

    withLabel:common {
        container = "${dockerUser}/mopx_common:0.0.1"
        memory = '2G'
    }
    withLabel:structural_variants {
        container = "${dockerUser}/mopx_structural_variants:0.0.1"
    }
    withLabel:medaka {
        container = "${dockerUser}/mopx_medaka:0.0.1"
        memory = '30G'
    }
    withLabel:flye {
        container = "${dockerUser}/mopx_flye:0.0.1"
    }
    withLabel:canu {
        container = "${dockerUser}/mopx_canu:0.0.1"
    }
}
