params {

    draft = "/Users/nils.petersen/dev/mpx/mpox_analysis/workflow/out/run109_scaffold/draft/polished.fasta"
    basecounts = "/Users/nils.petersen/dev/mpx/mpox_analysis/workflow/out/run109_scaffold/draft/corrected_basecounts.tsv"

    reference = "/Users/nils.petersen/dev/mpx/mpox_analysis/genomes/PV122072.1.fasta"
    reference_genbank = "/Users/nils.petersen/dev/mpx/mpox_analysis/genomes/genbank/PV122072.1.gb"

    draft_name = "Draft_RUN109_KJ642616"

    // last position of the left terminal repeat, 1-based index
    reference_terminal_repeat_left_end = 8566

    // first position of the right terminal repeat, 1-based index
    reference_terminal_repeat_right_start = 190179

    terminal_repeat_max_map_diff = 0.95

    out_dir = "out/annotation_run109_with_liberia_reference"

    min_coverage=14
}
