params {
    contigs = "/Users/nils.petersen/dev/mpx/mpox_analysis/assemble/run122/clustered.contigs.fasta"
    reads = "/Users/nils.petersen/dev/mpx/mpox_analysis/assemble/run122/CKY-2025-RUN122.filtered.fastq.gz"
    reference = "/Users/nils.petersen/dev/mpx/mpox_analysis/genomes/NC_063383.1.fasta"
    reference_genbank = "/Users/nils.petersen/dev/mpx/mpox_analysis/genomes/genbank/NC_063383.1.gb"

    draft_name="Draft_RUN122_NC063383"

    // last position of the left terminal repeat, 1-based index
    reference_terminal_repeat_left_end = 6422

    // first position of the right terminal repeat, 1-based index
    reference_terminal_repeat_right_start = 190788

    terminal_repeat_max_map_diff = 0.95

    out_dir = "out/run122_scaffold"

    min_coverage=20
}
