params {
    reads = "/Users/nils.petersen/dev/mpx/mpox_analysis/fastqs/G1087"

    reference = "/Users/nils.petersen/dev/mpx/mopx_pipeline/references/G1072.fasta"
    reference_genbank = "/Users/nils.petersen/dev/mpx/mopx_pipeline/references/G1072.gbk"
    hairpin = "/Users/nils.petersen/dev/mpx/mopx_pipeline/references/hairpin_2_pieces.fasta"

    draft_name="Draft_G1087"

    // last position of the left terminal repeat, 1-based index
    reference_terminal_repeat_left_end = 6817

    // first position of the right terminal repeat, 1-based index
    reference_terminal_repeat_right_start = 191350

    terminal_repeat_max_map_diff = 0.95

    out_dir = "out/G1087_refGIN"
}
