params {
    contigs = "/Users/nils.petersen/dev/mpx/mpox_analysis/curated_contigs/merged113_114/contigs_merged_113_114.fasta"
    reads = "/Users/nils.petersen/dev/mpx/mpox_analysis/data/filtered/CKY-2024-MERGED113_114/merged.fastq.gz"
    reference = "/Users/nils.petersen/dev/mpx/mpox_analysis/genomes/KJ642616.1.fasta"
    reference_genbank = "/Users/nils.petersen/dev/mpx/mpox_analysis/genomes/genbank/KJ642616.1.gb"

    draft_name="Draft_Merged113_114_KJ642616"

    // last position of the left terminal repeat, 1-based index
    reference_terminal_repeat_left_end = 8566

    // first position of the right terminal repeat, 1-based index
    reference_terminal_repeat_right_start = 190179

    terminal_repeat_max_map_diff = 0.95

    out_dir = "out/merged113114_scaffold"

    min_coverage=14
}
